body { background-color: silver; }
p {
      margin-left:20%;
      margin-right:20%;
      font-family: sans-serif;
      font-size: 14
  }
h1, h2, h3 {
    text-align: center;
    font-family: sans-serif;
    color: darkblue
}
em {
      color: green;
      font-weight: bold
  }