html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 90%;
}

#map {
  width: 75%;
  height: 100%;
}

#sidebar {
  position: absolute;
  left: 75%;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 1em;
}
#sidebar img {
  vertical-align: middle;
  border: none;
}

h1 {
  margin: 0;
  font-size: 220%;
}
h2 {
  margin: 0;
  font-size: 125%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
li {
  margin-top: 2px;
}

#infowindow_content {
  display: none;
}
.details_tab {
  font-size: 80%;
}
h3 {
  margin: 0;
}
dt {
  width: 5em;
  float: left;
  clear: left;
  font-weight: bold;
  line-height: 1em;
}
dd {
  line-height: 1em;
}
