<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/simplex/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>My Box Office App</title>
</head>
<div class="pin-layout" id = 'parent'>
    <div class="pin-layout">
        <div>
            <h3 class="caption">Escobar: Paradise Lost</h3>
            <img width= '190' src="http://image.tmdb.org/t/p/w500//4e1q2uZ4GB89n9iJa9lRx4mv37W.jpg" alt="Escobar: Paradise Lost">
            <p>For Pablo Escobar (Benicio Del Toro), family is everything. When young surfer Nick (Josh Hutcherson) falls for Escobar's niece, he finds his life on the line when he's pulled into the dangerous world of the family business.</p>
            <p>Release Date : 2014-10-11</p>
            <p>Rated R : false</p>
        </div>
    </div>

</div>
<script src="../js/createRequest.js"></script>
<!--<script src="../js/makingAjaxRequest.js"></script>-->
</body>
</html>